// —————————————————————————
//     General
// —————————————————————————

body {
  font-size: $fs-root;
  background-color: transparent;

  &.js-offline {

    &::after {
      content: attr(data-status);
      width: 100%;
      height: 100%;
      padding-top: 10%;
      top: 0;
      left: 0;
      text-align: center;
      color: $color-other;
      font-size: $fs-small;
      line-height: $fs-small;
      font-family: $ff-primary;
      background-color: rgba(0,0,0,.8);
      position: absolute;
      overflow: hidden;
      z-index: 99;
    }
  }
}

::-moz-selection {
  background: $color-primary;
  color: $color-clean;
  text-shadow: none;
}

::selection {
  background: $color-primary;
  color: $color-clean;
  text-shadow: none;
}


//
// Structure
//

.header-primary {
  width: 100%;
  height: 245px;
  position: relative;
  padding-top: 20px;
  border-top: 4px solid $color-primary;
}

.logo-primary {
  width: 150px;
  height: 150px;
  margin: 0 auto;

  a {
    text-indent: -9999px;
    display: block;
    width: 150px;
    height: 150px;
    background-size: 150px 150px;
    @include path('logo-primary.png');
    @extend %crazy;

    &:hover {
      @extend %crazy-hover;
    }
  }
}

.main {
  width: 100%;
  display: block;
}

.footer-primary {
  position: relative;
  width: 100%;
  min-height: 450px;
  text-align: center;
  // background-color: $bg-primary;

  p {
    color: $color-other;
    font-size: ($fs-extra-small)-.2;
    font-family: $ff-primary;
    display: inline-block;
    top: 90px;
    position: relative;
  }
}


// nav
.nav-primary {
  height: 60px;
  width: 100%;
  margin-top: 15px;
  text-align: center;
  border-bottom: 1px solid $color-other-dark;
  background-color: $color-other;

  &.js-nav-active {
    position: fixed;
    top: -15px;
    z-index: 99999999;

    .nav-image {
      display: inline-block;
      margin-left: -150px;
      margin-right: 150px;
    }
  }
}

.nav-image {
  width: 150px;
  height: 60px;
  vertical-align: top;
  display: none;
  text-indent: -9999px;
  background-position: center;
  @include path('logo-secondary.png');
}

.nav-item {
  display: inline-block;

  &.js-nav-active { border-bottom: 3px solid $color-primary; }
}

.nav-link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 60px;
  margin: 0 10px;
  padding: 0 10px;
  font-family: $ff-general;
  color: $color-secondary;
  font-size: $fs-extra-small;
  @include transition(color, .2s, 0s, linear);

  &:hover { color: $color-primary; }
}
// ===


%width-fixed { width: 90%; }

.section {
  margin: 40px auto 0 auto;
  text-align: center;

  &.home { @extend %width-fixed; }
  &.about {@extend %width-fixed; }
}

.section-title {
  font-family: $ff-title;
  font-size: $fs-small;
  color: $color-secondary;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 6px;
  border-bottom: 1px solid $color-other-dark;
  display: inline-block;
}

.section-description {
  line-height: $fs-small;
  font-size: ($fs-extra-small)-.2;
  color: $color-secondary;
  font-family: $ff-general;
  width: 50%;
  margin: 20px auto;
}

.produts-content {
  border-top: 1px solid $color-other-dark;
  border-bottom: 1px solid $color-other-dark;
  background-color: $color-other;
}

// Pontos de venda
.pontos-venda {
  .content {
    padding: 20px 0;
    width: 100%;
  }
}

.grid {
  display: inline-block;

  figure {
    position: relative;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 48%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
    display: inline-block;

    &:hover {
      h2 {
        @include translate3d(0, 0, 0);

        &::after {
          opacity: 1;
          @include translate3d(0, 0, 0);
        }
      }

      p {
        opacity: 1;
        @include translate3d(0, 0, 0);
      }
    }
  }

  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    text-align: right;

    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  h2 {
    font-family: $ff-title;
    font-size: $fs-medium;

    position: absolute;
    right: 30px;
    left: 30px;
    padding: 10px 0;

    top: 30px;
    @include transition(transform, .35s, 0s, linear);

    @include translate3d(0, 20px, 0);

    &::after {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 4px;
      background: #fff;
      content: '';
      @include translate3d(0, 40px, 0);

      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      -moz-transition: opacity 0.35s, -webkit-transform 0.35s;
      -ms-transition: opacity 0.35s, -webkit-transform 0.35s;
      -o-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
    }
  }

  p {
    letter-spacing: 1px;
    font-family: $ff-primary;
    font-size: ($fs-extra-small)-.2;

    position: absolute;
    right: 30px;
    left: 30px;
    padding: 10px 0;

    bottom: 30px;
    line-height: 1.5;
    @include translate3d(0, 100%, 0);

    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    -moz-transition: opacity 0.35s, -webkit-transform 0.35s;
    -ms-transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
  }

  .link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 1000;
    text-indent: -9999px;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
  }
}
// ====


//
// Social
//

.feeds {
  width: 100%;
  display: block;
  margin: 30px auto;

  &.instagram {
    border-top: 1px solid $color-other-dark;
    border-bottom: 1px solid $color-other-dark;
    background-color: $color-other;
    padding: 20px 0;
  }

  li {
    display: inline-block;
    position: relative;
  }
}

.feeds-instagram-link { text-decoration: none; }

.feeds-instagram-image {
  width: 150px;
  height: 150px;
  position: relative;
}

.feeds-instagram-like {
  position: absolute;
  text-align: right;
  display: block;
  bottom: -36px;
  width: 100%;
  height: 25%;
  line-height: 28px;
  color: $color-primary;
  font-family: $ff-general;
  font-size: ($fs-extra-small)-.2;
  @include transition(height, .2s, 0s, linear);

  &::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 3px;
    left: 0;
    background-size: 20px 20px;
    @include path('heart.svg');
  }
}

.feeds-instagram-item {
  height: auto;
  padding: 6px 6px 26px 6px;
  margin: 5px 5px 30px 5px;
  background-color: $color-clean;
  @extend %shadow;

  &:hover { @extend %shadow-hover; }
}
// ===


//
// Contact
//

.contact {
  .content {
    @extend %width-fixed;
    margin: 0 auto;
  }
}

.contact-form { margin-top: 30px; }



// footer
.social-item {
  width: 280px;
  border: 1px solid $color-other;
  height: 45px;
  display: inline-block;
  margin: 70px 10px 0 0;
}

.social-link {
  line-height: 45px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-other-dark;
  font-family: $ff-general;
  font-size: ($fs-extra-small)-.2;
  @include transition(all, .2s, 0s, ease-out);

  &:hover {
    background-color: $color-other-dark;
    // color: $bg-primary;
  }
}

.back-top {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 120px;
  z-index: 10;
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  opacity: 0;
  @include rotate(-90deg);
  @include bdr(4px);

  background-color: $color-other-dark;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px 40px;
  @include path('icon-arrow.svg');

  @include transition(opacity, .2s, 0s, linear);

  &.js-show { opacity: 1; }

  &:hover { opacity: .5; }
}
// ===

//
// Media queries
//

// iPads
@media (min-width: 768px) {}

// Desktops
@media (min-width: 992px) {}

// Large Desktops
@media (min-width: 1200px) {}
